#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

// layer shortcuts
#define BSE 0
#define STD 1
#define SYM 2
#define NUM 3
#define FUN 4
#define NAV 5
#define MSE 6
#define SYS 7

#define REP_ALT &rp_ht RALT 0

/*
* ┌───┬───┬───┬───┬───┐       ┌───┬───┬───┬───┬───┐
* │ V │ M │ L │ C │ P │       │ B │ ★ │ U │ O │ Q │
* ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
* │ S │ T │ R │ D │ Y │       │ F │ N │ E │ A │ I │
* ├───┼───┼───┼───┼───┤       ├───┼───┼───┼───┼───┤
* │ X │ K │ J │ G │ W │       │ Z │ H │ , │ . │ / │
* └───┴───┴───┴───┴───┘       └───┴───┴───┴───┴───┘
*           ┌───┐                   ┌───┐
*           │REP├───┐           ┌───┤REP│
*           └───┤TAB├───┐   ┌───┤BSP├───┘
*               └───┤SPC│   │SPC├───┘
*                   └───┘   └───┘
*/

/ {
    behaviors {
        // Smart Backspace: Tap=BSPC, Shift+Tap=DEL
        mm_bs_del: mm_bs_del {
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp BSPC>, <&kp DEL>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        // Smart Repeat: Tap=Repeat, Hold=AltGr
        // NOTE: hold-tap enforces 2 arguments, so just pass anything (e.g. 0), it will be ignored in the binding
        rp_ht: repeat_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            require-prior-idle-ms = <150>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            bindings = <&kp>, <&key_repeat>;
            hold-trigger-on-release;
        };
    };

    combos {
        compatible = "zmk,combos";

        // Escape
        combo_esc_left  { timeout-ms = <50>; key-positions = <12 14>; bindings = <&kp ESC>; };
        combo_esc_right { timeout-ms = <50>; key-positions = <15 17>; bindings = <&kp ESC>; };

        // Symbols Left
        combo_sym_tild { timeout-ms = <50>; key-positions = <0 10>; bindings = <&kp TILDE>; };
        combo_sym_exlm { timeout-ms = <50>; key-positions = <1 11>; bindings = <&kp EXCL>; };
        combo_sym_at   { timeout-ms = <50>; key-positions = <2 12>; bindings = <&kp AT>; };
        combo_sym_hash { timeout-ms = <50>; key-positions = <3 13>; bindings = <&kp HASH>; };
        combo_sym_dlr  { timeout-ms = <50>; key-positions = <4 14>; bindings = <&kp DOLLAR>; };

        combo_sym_perc { timeout-ms = <50>; key-positions = <10 20>; bindings = <&kp PRCNT>; };
        combo_sym_circ { timeout-ms = <50>; key-positions = <11 21>; bindings = <&kp CARET>; };
        combo_sym_ampr { timeout-ms = <50>; key-positions = <12 22>; bindings = <&kp AMPS>; };
        combo_sym_astr { timeout-ms = <50>; key-positions = <13 23>; bindings = <&kp ASTERISK>; };
        combo_sym_grv  { timeout-ms = <50>; key-positions = <14 24>; bindings = <&kp GRAVE>; };

        // Symbols Right
        combo_sym_unds { timeout-ms = <50>; key-positions = <5 15>; bindings = <&kp UNDER>; };
        combo_sym_mins { timeout-ms = <50>; key-positions = <6 16>; bindings = <&kp MINUS>; };
        combo_sym_plus { timeout-ms = <50>; key-positions = <7 17>; bindings = <&kp PLUS>; };
        combo_sym_eql  { timeout-ms = <50>; key-positions = <8 18>; bindings = <&kp EQUAL>; };

        combo_sym_pipe { timeout-ms = <50>; key-positions = <15 25>; bindings = <&kp PIPE>; };
        combo_sym_quot { timeout-ms = <50>; key-positions = <16 26>; bindings = <&kp SQT>; };
        combo_sym_scln { timeout-ms = <50>; key-positions = <17 27>; bindings = <&kp SEMI>; };
        combo_sym_coln { timeout-ms = <50>; key-positions = <18 28>; bindings = <&kp COLON>; };
        combo_sym_bsls { timeout-ms = <50>; key-positions = <19 29>; bindings = <&kp BSLH>; };
    };

    keymap {
        compatible = "zmk,keymap";

        strdy {
            bindings = <
                &kp V       &kp M        &kp L      &kp C     &kp P       &kp B &kp X     &kp U      &kp O        &kp Q
                &lt SYM S   &mt LSHIFT T &mt LGUI R &lt NAV D &kp Y       &kp F &lt MSE N &mt RGUI E &mt RSHIFT A &lt SYM I
                &mt LCTRL X &mt LALT K   &kp J      &kp G     &kp W       &kp Z &kp H     &kp COMMA  &mt LALT DOT &mt RCTRL SLASH

                               REP_ALT &kp TAB   &lt NUM ENTER      &kp SPACE &mm_bs_del  REP_ALT
            >;
        };

        qwerty {
            bindings = <
                &kp Q     &kp W     &kp E     &kp R     &kp T          &kp Y     &kp U     &kp I     &kp O     &kp P
                &kp A     &kp S     &kp D     &kp F     &kp G          &kp H     &kp J     &kp K     &kp L     &kp SEMI
                &kp Z     &kp X     &kp C     &kp V     &kp B          &kp N     &kp M     &kp COMMA &kp DOT   &kp SLASH

                               &studio_unlock &kp TAB   &kp ENTER      &kp SPACE &mm_bs_del  &kp DEL
            >;
        };

        symbol {
            bindings = <
                &kp TILDE &kp EXCL     &kp AT     &kp HASH     &kp DOLLAR          &kp PERCENT  &kp CARET     &kp AMPS     &kp ASTERISK     &kp GRAVE
                &none     &kp LBRC     &kp LPAR   &kp RPAR     &kp RBRC            &kp UNDER    &kp MINUS     &kp PLUS     &kp EQUAL        &none
                &kp LCTRL &kp LALT     &kp LBKT   &kp RBKT     &kp DQT             &kp PIPE     &kp SQT       &kp SEMI     &kp COLON        &kp BSLH

                               &mo SYS &trans   &kp ENTER      &kp SPACE &trans &none
            >;
        };

        numpad {
            bindings = <
                &none      &none       &none     &none     &none          &kp DOT          &kp N7    &kp N8    &kp N9    &kp COMMA
                &none      &kp LSHIFT  &kp LGUI  &none     &mo FUN        &kp KP_MULTIPLY  &kp N4    &kp N5    &kp N6    &kp KP_MINUS
                &kp LCTRL  &kp LALT    &none     &none     &none          &kp KP_SLASH     &kp N1    &kp N2    &kp N3    &kp KP_PLUS

                               &none &trans   &trans     &trans &trans  &kp N0
            >;
        };

        function {
            bindings = <
                &none      &none       &none     &none     &none          &none  &kp F7    &kp F8    &kp F9    &kp F10
                &none      &kp LSHIFT  &kp LGUI  &none     &none          &none  &kp F4    &kp F5    &kp F6    &kp F11
                &kp LCTRL  &kp LALT    &none     &none     &none          &none  &kp F1    &kp F2    &kp F3    &kp F12

                               &none &none &none      &trans &none  &none
            >;
        };

        navigation {
            bindings = <
                &none      &none       &none     &none     &none          &none  &kp HOME   &kp PGDN    &kp PGUP  &kp END
                &none      &kp LSHIFT  &kp LGUI  &none     &none          &none  &kp LEFT   &kp DOWN    &kp UP    &kp RIGHT
                &kp LCTRL  &kp LALT    &none     &none     &none          &none  &kp K_COPY &kp K_PASTE &kp K_CUT &none

                               &none &trans &trans      &trans &trans  &none
            >;
        };

        mouse {
            bindings = <
                &none     &msc SCRL_DOWN &mmv MOVE_UP   &msc SCRL_UP    &none          &none  &none    &none    &none    &none
                &mkp MB4  &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &none          &none  &none    &none    &none    &none
                &mkp MB5  &kp LALT       &none          &none           &none          &none  &none    &none    &none    &none

                               &mkp MB3 &mkp MB2  &mkp MB1      &mkp MB1 &mkp MB2 &mkp MB3
            >;
        };

        system {
            bindings = <
                &none      &none    &none     &none     &none          &none  &kp C_PLAY_PAUSE &kp C_PREV   &kp C_NEXT   &none
                &none      &none    &none     &none     &none          &none  &kp C_MUTE       &kp C_VOL_DN &kp C_VOL_UP &none
                &none      &none    &none     &none     &none          &none  &kp C_BKLT_TOG   &kp C_BRI_DN &kp C_BRI_UP &none

                               &none &none &none      &none &none  &none
            >;
        };
    };
 };
